@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --white: #fff;
  --conteiner_space: 15px;
  --conteiner-width: calc(922px + var(--conteiner_space) * 2 );
  --black: #000;
  --rgba:rgba(157, 178, 193, 0.88)
}
.links{
  text-decoration: none;
  
}

/* Styles */
.conteiner {
  max-width: var(--conteiner-width);
  padding: 0 var(--conteiner_space);
  margin: 0 auto;
}

.section_wrap {
  min-height: 100vh;
  background-image: url("../gallery/Bitmap\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
/* nav styles */
.header {
  padding-top: 32px;
  margin-left: 53px;
}
.nav_link {
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  color: rgba(177, 187, 203, 0.87);
  text-decoration: none;
  margin-right: 13px;
}
.nav_link:first-child {
  margin-right: 20px;
}
/* main styles */
.h1 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}
.main {
  flex-grow: 1;
  margin-left: 67px;
}
.h1.main_h1 {
  padding-top: 101px;
  padding-bottom: 8px;
  max-width: 167px;
}
/* txt style */
.text {
  margin-bottom: 20px;
}
.txt {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  max-width: 540px;
}
/* Header style */
.footer {
  margin-bottom: 75px;
  margin-left: 44px;
  margin-top: 149px;
}
.footer_music {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.27);
}
/* cards style */
.card_item{
  background-color:var(--rgba) ;
  width: calc(100% / 3);
  color: white;
  display: inline-block;
  max-width: 200px;
  margin: 15px;
  width: 100%;
  border-radius: 3%;
  box-shadow: 10px 10px 6px #000 ;


}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card_image{
  max-width: 130px;
  min-height: 130px;
}
.card_content{
padding: 0px 35px 10px 35px ;
}
.card_title{
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--black);
  text-align: center;
 
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
}
.card_txt{
color: var(--black);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
padding-bottom: 18px;
}
.card_info{
  padding-top: 10px;
  padding-bottom: 18px;
  color: #000;
  text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}
.button_card{
  margin: 0 auto;
  margin-bottom: 3px; 
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  background-color: green;
  border: none;
  border-radius: 10%;  
  cursor: pointer;
  transition: all 0.5s ease;
}
 .button_card:hover {
  background-color: transparent;
  box-shadow: 5px 5px 5px 4px #000;
 }